<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
</head>
<body>
    <h1>Cadastro</h1>
    <p>Fique sabendo das novidades</p>

    <form action="/register" method="POST">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email">
        <button type="submit">Cadastrar</button>
    </form>

    <br>
    <hr>
    <br>

    <a href="http://">Lista de e-mails cadastrados</a>
</body>
</html>